body {
    background-color: aqua;
}

.container{
    display: inline-block;
    float: left;
    width: 800px;
    margin: 80px calc(50% - 400px) 0;
}
    .container > .left{
        display: inline-block;
        float: left;
        width: 40%;
    }
    .container > .right{
        display: inline-block;
        width: 60%;
        padding: 80px;
        float: left;
        background-color: #fff;
    }
        .form span,
        .form a {
            display: inline;
            float: left;
            padding: 10px;
            line-height: 20px;
            font-size: 15px;
    }
        .form span{
            margin-left: 10px;
        }
        .form a {
            font-family: ;
            font-weight: bold;
            color: #006ad7;
            text-decoration: none;
        }