.body{ 
    background-color: green;

}
    .container{
        display: inline-block;
        width: 1000px;
        float: left;

    }
        .left-column{
            display: inline-block;
            float: left;
            background-color: yellow;

        }
            .tittle{
                display: inline-block;
                float: left;

            }
            .footer{
                display: inline-block;
                float: left;

            }
                .link{
                    display: inline-block;
                    float: left;

                }
        .right-column{
            display: inline-block;
            float: left;
            background-color: red;

        }