body {
    background-color: aqua;
}
.background{
    background-image: url(../kalnas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    height: 100vh;
}

.container{
    display: inline-block;
    float: left;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
    .container > .left{
        display: inline-block;
        float: left;
        width: 40%;
        background-color: blue;
        background-image: url(../kalnas.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 0;
    }
        .main-title{
            color: #fff;
            font-weight: normal;
            padding: 20px;

        }
        .footer{
            position: absolute;
            left: 20px;
            bottom: 20px;
            right: 20px;
            color: #fff;

        }
            .footer > a{
                color: #fff;

            }
            .footer > span{

            }


    .container > .right{
        display: inline-block;
        width: 60%;
        padding: 80px;
        float: right;
        background-color: #fff;
        position: relative;

    }
        .right > .close{
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            width: 80px;
            height: 80px;
        }
            .close > .line{
                display: inline-block;
                width: 30px;
                height: 2px;
                background-color: #e5e5e5;
                position: absolute;
                top: 50%;
                left: 50%;
    
            }
            .close > .line:first-of-type{
                transform: rotate(45deg);
                top: 29px;
                left: 31px;
                transform-origin: top left;
            }
            .close > .line:last-of-type{
                transform: rotate(-45deg);
                top: 50px;
                left: 30px;
                transform-origin: bottom left;

            }
        .form span,
        .form a {
            display: inline;
            float: left;
            padding: 10px;
            line-height: 20px;
            font-size: 15px;
    }
        .form span{
            margin-left: 10px;
        }
        .form a {
            font-family: ;
            font-weight: bold;
            color: #006ad7;
            text-decoration: none;
        }